/* @font-face{
  font-family: 'Lato', sans-serif;
  src: url('./resources/fonts/lato/Lato-Regular.ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.content {
  display: flex;
  /* gap: 15px; */
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: bisque;
}

.inputField {
  width: 250px;
}

.FormContainer {
  margin: 35px 30px 0 50px;
  width: 850px;
}

.sampleStateButton {
  position: relative;
  margin-bottom: 10px;
  left: 42.5%;
  font-size: 15px;
  padding: 5px;
  border-width: 1.5px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px grey;
}

.personalInformationForm {
  padding-left: 15px;
}

.personalInformationForm h3 {
  text-align: center;
}

.workExperienceForm h3 {
  text-align: center;
}

.workExperienceSlot {
  padding-top: 12px;
  padding-left: 15px;
  margin-bottom: 1px;
}

.workExperienceSlot button {
  margin-top: 8px;
  margin-left: 60px;
  padding: 3px;
}

#workAddButton {
  position: relative;
  left: 41%;
  font-size: 15px;
  padding: 5px;
  border-width: 1.5px;
  border-radius: 5px;
  box-shadow: 2px 1px 6px grey;
  
}

.skillsHeaderText {
  position: relative;
  left: 46%
}

.skillForm {
  padding-left: 12px;
}

#skillAddButton {

  position: relative;
  left: 44.6%;
  font-size: 15px;
  margin-top: 8px;
  padding: 7px;
  border-width: 1.5px;
  border-radius: 5px;
  box-shadow: 2px 1px 6px grey;
}

.educationExperienceForm h3 {
  position: relative;
  left: 39%
}

.educationExperienceSlot {
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 1px;
}

.educationExperienceSlot button {
  margin-top: 8px;
  margin-left: 60px;
  padding: 3px;
}

#educationAddButton {
  position: relative;
  left: 38%;
  font-size: 15px;
  margin-top: 8px;
  padding: 7px;
  border-width: 1.5px;
  border-radius: 5px;
  box-shadow: 2px 1px 6px grey;
}



/* ------------ Styling for previewPane ------------ */

.previewContainer {
  margin: 30px 65px 0 ;
  padding: 30px 50px 100px 50px;
  display: block;
  font-family: 'Lato';
  height: 870px;
  width: 722px;
  /* padding: 30px; */
  /* padding-left: 50px; */
  /* padding-right: 50px; */
  box-shadow: 3px 3px 10px grey;
  background-color: white;
}

.previewPersonal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.previewPersonalName {
  color: teal;
  font-weight: 600;
  font-size: xx-large;
}

.previewPersonalTitle {
  font-weight: 600;
  font-size: larger;
  color:rgb(0, 87, 87);
}

.previewPersonalDivider {
  margin-top: 15px;
  margin-bottom: 15px;
  color:lightgrey;
}


.previewHeaderText {
  font-weight: 600;
  font-size: larger;
  color:rgb(0, 87, 87);
  padding-bottom: 10px;
}

.previewWorkSlot {
  margin-left: 25px;
}

.previewWorkPosition {
  font-weight: 600
}

.previewWorkCompany {
  font-weight: 600;
}

.previewWorkDetails {
  margin-left: 25px;
}

.previewSkillList {
  margin-top: 0px;
  /* margin-bottom: 0px; */
  display: grid;
  grid-template-columns: 350px 450px;
}

.previewEducationalExperienceSlot{
  margin-left: 25px;
}

.previewEducationInstitution {
  font-weight: 600;
}

.previewEducationDates {
  margin-left: 25px;
  font-weight: 600;
}

.previewEducationDetails {
  margin-left: 25px;
}



